body {
  height: 100vh; width: 100vw;
  overflow: hidden;
  background: linear-gradient(45deg, #a3ecf9, #8f12f7);
  min-width: 500px;
}

#container {
  width: 80%; height: 90%;
  background-color: #424149;
  border-radius: 50px;

  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
}

.authbox {
  padding: 25px;
}

#discordAuthenticationDiv {
  display: flex;
  flex: 1;
  border-radius: 50px 0 0 50px;
  transition-duration: 1s;
}

#feideAuthenticationDiv {
  display: flex;
  flex: 1;
  border-left: 1px solid black;
}

.leftComplete {
  box-shadow: -50px 0 50px rgb(7, 250, 7);
}

.rightComplete {
  box-shadow: 50px 0 50px rgb(7, 250, 7);
}

@media screen and (max-width: 992px) {
  #container {
    flex-direction: column;
  }
  #feideAuthenticationDiv {
    border-left: 0;
    border-top: 1px solid black;
  }
}